.main-container {
    font-family: 'Prompt', sans-serif;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    background-color: #01354e;
}
.susunn-circle {
    position: absolute;
    top: -30px;
    right: -180px;
}
.susunn-circle img {
    position: relative;
    z-index: 2;
    width: 400px;
    height: 400px;
}

.logo-susunn {
    position: relative;
    width: 250px;
    max-width: 100%;
    height: 100%;
    margin-left: 70px;
    z-index: 2;
}

.title-head-susunn {
    padding: 70px;
    z-index: 2;
    position: relative;
}

.title-head-susunn h1 {
    color: #fff;
}

.main-container .side-left {
    background-color: #ffffff;
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.main-container .side-left small {
    color: red;
}
.main-container .side-right {
    background-color: #2f7ea5;
    z-index: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #ffffff;
    
}

.main-container .side-right p{
    text-transform: uppercase;
    font-size: 20px;
}
.main-container .side-right span{
    font-size: 18px;
}

.main-container .effect-circle .circle {
    position: absolute;
    width: 900px;
    max-width: 100%;
    height: 900px;
    border-radius: 100%;
    background: rgb(31,104,90);
    background: linear-gradient(326deg, rgba(31,104,90,1) 0%, rgba(255,255,255,0) 61%);
}
.main-container .effect-circle .circle.circle-one {
    top: -60px;
    left: -250px;
    background: rgb(65,154,198);
    background: linear-gradient(180deg, rgba(65,154,198,.8) 8%, rgba(90,167,206,0.5) 16%, rgba(255,255,255,0) 50%);
}

.main-container .effect-circle .circle.circle-two {
    top: -250px;
    right: -100px;
    background: rgb(31,104,90);
    background: linear-gradient(326deg, rgba(31,104,90,1) 0%, rgba(255,255,255,0) 61%);
}

.main-container .effect-circle .circle.circle-three {
    bottom: -300px;
    left: -250px;
    background: rgb(31,104,90);
    background: linear-gradient(300deg, rgba(31,104,90,1) 0%, rgba(255,255,255,0) 100%);
}

.susunn-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.susunn-bottom img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.checkbox-accept {
    padding: 30px 0;
    width: 50% !important;
    text-align: center;
    font-size: 18px;
    color: #fff;
    z-index: 2;
    margin: auto;
}

.button-accept {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.button-accept  p{
    font-size: 18px;
    color: #fff;
}

.border-accept p {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 15px;
    font-weight: 100;
}
.border-accept .flex-grow-1{
    color: #fff;
    width: 100px;
    
}

.social {
    display: flex;
}
.social > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.social p {
    color: #fff;
    font-size: 18px;
}
.social img {
    width: 100px;
    max-width: 100%;
}

.btn-primary  {
    width: 180px;
    border-radius: 15px !important;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

input[type="checkbox"]:checked {
    background-color: transparent;
    border: solid white;
    width: 10px;
    height: 20px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* media */
@media (max-width: 767px) {
    .logo-susunn {
        margin-left: 0;
    }

    .title-head-susunn {
        padding: 15px;
    }

    .susunn-circle img {
        display: none;
    }
    
    .main-container .side-left {
        background-color: #ffffff;
        z-index: 1;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .main-container .side-right {
        padding: 30px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .main-container .effect-circle .circle.circle-one {
        top: -60px;
        left: -130px;
    }

    .main-container .effect-circle .circle.circle-three {
        bottom: -300px;
        left: -100px;
    }

    .checkbox-accept {
        width: 80% !important;
        text-align: left;
    }
}